.body {
  margin: auto;
  margin-top: 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.title-text{
  background-color: white;
  width: fit-content;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 15px auto;
}

.img1 {
  width: 142px;
  height: 109px;
  opacity: 60%;
  transform: translate(80px, -50px);
  z-index: -2;
}

.img2{
  width: 142px;
  height: 109px;
  opacity:60%;
  transform: translate(-50px, 170px) rotate(180deg);
  z-index: -2;
}

.img3 {
  width: 42px;
  height: 32px;
  z-index: 1;
  transform: translate(10px, 10px)

}

.img4{
  width: 42px;
  height: 32px;
  transform: translate(-10px, 130px) rotate(180deg);
  z-index: 1;
}

.img5 {
  width: 42px;
  height: 32px;
  z-index: 1;
  transform: translate(-30px, 60px)
}

.img6{
  width: 42px;
  height: 32px;
  transform: translate(385px, -60px) rotate(180deg);
  z-index: 1;
}

.img7 {
  width: 42px;
  height: 32px;
  z-index: 1;
  transform: translate(-30px, 30px)
}

.img8{
  width: 42px;
  height: 32px;
  transform: translate(640px, -40px) rotate(180deg);
  z-index: 1;
}



.intro {
  display: flex;
  margin: auto;
  margin-top: 75px;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  color: white;
}

.intro-content {
  margin: 10px auto;
  text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    max-width: 650px;
    margin: auto;
    margin-top: 50px;
}

.quote-content {
  background-color: white;
  color: black;
  font-size: 30px;
  padding: 5px;
  
}

.quotes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  margin-top: 50px;
}

.quotes-content {
  background-color: white;
  color: black;
  font-size: 24px;
  padding: 5px;
  
}

.quotes-reference {
  font-weight: bold;
  font-size: 16px;
  width: 380px;
  text-align: right;
  right: 50%;
  margin-top: -40px;
  margin-left: 250px;
}

.about {
  background-color: white;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-content {
  color: black;
  padding: 20px;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.author {
  display: inline-flex;
  margin: auto;
  margin-left: 10%;

}

.author-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 20px;
}

.author-title {
  margin: auto;
}

.author-title-text {
  background-color: white;
  width: fit-content;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.author-img {
  height: 300px;
  max-width: 199.61;
  margin: 50px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 936px) {
  .author {
    flex-direction: column;
    margin-left: 0%;
  }

  .author-img {
    width: 199.61px;
    margin: auto;
    margin-top: 20px;
  }

  .author-title {
    margin: auto;
  }
}

/*.body {
  display: inline-flex;
  flex-direction: column;
  margin-top: 150px;
}

.title {
  position: relative;
  height: max-content;
}

.title-text{
    background-color: white;
    color: black;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0px 10px;
  }

  .links { 
    display: inline-flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding:  20px 50px;
  }
  
  .App-link {
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-top: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .quotes {
    opacity: 80%;
    z-index: -3;
   
  }

  

  .intro {
    background-color: white;
    width: 100vw;
    margin-top: 30px;
  }

  .img1 {
    width: 142px;
    height: 109px;
    left: 450px;
    top: 0px; 

  }
  
  .img2{
    width: 142px;
    height: 109px;
    left: 870px;
    top: 300px;
    transform: rotate(180deg);
  }*/