
.navBar {
    overflow: hidden;
  background-color:white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 60px;
  z-index: 2;
}

.img {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 50px;
    cursor: pointer;
    z-index: 1;
}

.toggle {
    position: fixed;
    top: 15px;
    right: 40px;
    width: 80px;
    height: 30px;
    background: #DBAE15;
    cursor: pointer;
    z-index: 1;
}

.end {
    width: 30px;
    height: 30px;
    border-radius: 55%;
    background: #DBAE15;
    cursor: pointer;
    z-index: 1;
}

.right {
    position: fixed;;
    top: 15px;
    right: 25px;
}

.left {
    position: fixed;;
    top: 15px;
    right: 105px;
}

a.button {
    text-decoration: none;
    color: initial;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    background-position: 100% 0%;
    border-radius: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
}

.nav-links {
    position: fixed;
    height: 100vh;
    margin-top: -0.01%;
    background-color: lightgray;
    width: 100%;
    opacity: 95%;
    clip-path: circle(20px at 94% -10%);
    -webkit-clip-path: circle(20px at 94% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.nav-links.open {
    clip-path: circle(10000px at 94% -10%);
    -webkit-clip-path: circle(10000px at 94% -10%);
    pointer-events: all;
}

.list {
    margin:50px auto;
    width: 500px;

}

.exercises {
    font-weight: bold;
    font-size: 100px;
    margin:1000px auto;
}

.links { 
  display: inline-flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding:  20px 50px;
}